<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>lib/features/home/home_screen.dart:63:41: Error: Couldn&apos;t find constructor &apos;TaskCreationRoute&apos;.
</string>
	<key>API_KEY</key>
	<string>AIzaSyAGcQcUw7jQbhANzdaiJpEmyJRRqxoRTYA</string>
	<key>GCM_SENDER_ID</key>
	<string>892146222127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManager</string>
	<key>PROJECT_ID</key>
	<string>task-manager-f454e</string>
	<key>STORAGE_BUCKET</key>
	<string>task-manager-f454e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:892146222127:ios:86234ed3043ef9dad772da</string>
</dict>
</plist>
